<div class="row">
    <h1>Proyecto Realizados</h1>
    <div class="contenedor">
     <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>GeekAgro</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptate consequatur fuga sunt cumque placeat, optio animi dolore. Velit aliquid officia quidem cumque modi hic vel qui nobis animi necessitatibus.</p>
     </div>
     <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/geekAgro.png"class="img-fluid img-proyecto" >
    </div>
</div>
</div>