<div class="row">
    <h1>Educacion</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Estudios</h1>- <h3>(Years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, est magnam voluptatem eaque velit tempora fugiat amet rerum totam minus expedita vitae iure ad, nostrum molestias dolore modi dignissimos eum.</p>
            </ul>
            <ul>
                <li>
                    <h1>Estudios</h1>- <h3>(Years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, est magnam voluptatem eaque velit tempora fugiat amet rerum totam minus expedita vitae iure ad, nostrum molestias dolore modi dignissimos eum.</p>
            </ul>
            <ul>
                <li>
                    <h1>Estudios</h1>- <h3>(Years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, est magnam voluptatem eaque velit tempora fugiat amet rerum totam minus expedita vitae iure ad, nostrum molestias dolore modi dignissimos eum.</p>
            </ul>
        </div>
    </div>